@model IEnumerable<SystemPedidoAgoraVai.Models.Pedido>

@{
    ViewBag.Title = "Index";
}

<h2>Cadastro de Pedidos</h2>

<p>
    @Html.ActionLink("Novo Pedido", "Create", new { area = "" }, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            <label class="control-label">Numero do Pedido</label>
        </th>
        <th>
            <label class="control-label">Data do Pedido</label>
        </th>
        <th>
            <label class="control-label">Cod. Cliente</label>
        </th>
        <th>
            <label class="control-label">Cod. Item</label>
        </th>
        <th>
            <label class="control-label">Total do Pedido</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPedido)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.IdPedido }, new { @class = "btn btn-default" }) &nbsp;
            @Html.ActionLink("Detalhes", "Details", new { id = item.IdPedido }, new { @class = "btn btn-default" }) &nbsp;
            @Html.ActionLink("Deletar", "Delete", new { id = item.IdPedido }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
